# OCI Authentication Keys (Substitua pelos valores do Console da Oracle Cloud)
tenancy_ocid        = "ocid1.tenancy.oc1..aaaaaaaaxxxxxx"
user_ocid           = "ocid1.user.oc1..aaaaaaaaxxxxxx"
fingerprint         = "xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx"
private_key_path    = "~/.ssh/oci_api_key.pem"
compartment_ocid    = "ocid1.tenancy.oc1..aaaaaaaaxxxxxx"
region              = "us-ashburn-1"
ssh_public_key_path = "~/.ssh/id_rsa.pub"

# Configurações do OCI Resource Scheduler (Agendamento: Ligar 08:30 e Desligar 18:30 BRT diariamente)
enable_resource_scheduler = true
scheduler_time_zone        = "America/Sao_Paulo"
scheduler_start_cron       = "30 8 * * *"
scheduler_stop_cron        = "30 18 * * *"
